html
{
    font-size: 17px;
    font-family: georgia, serif;
    font-size: 16x;
    line-height: 30px;
}

body
{
    margin: 0;
    height: 100%;
}

main
{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.myname
{
    font-family: 'Valkyrie', sans-serif;
    font-weight: 700;
    font-style: normal;
}

.content-container
{
    display: flex;
    flex-direction: column;
    max-width: 57rem;
    min-height: 100%;
}

.navbar
{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid #DFDFDF;
}
.nav-button
{
    max-width: 13rem;
}

.nav-button:hover
{ 
    transform: scale(1.04);
}
.log-entry-container
{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    gap: 1rem;
}

.entry
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 100%;
    gap: 1rem;
    padding-top: 2rem;
}

.update-review, .addnote
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.text-area
{
    width: 100%;
}

.btn
{
    min-width: 7rem;
    padding: 0.5rem;
    margin-top: 1rem;
}

.addNoteCls
{
    height: 100px;
    width: 38rem;
}

.note
{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.btnNote:hover
{
    transform: scale(1.04);
}

.btnNote
{
    margin-top: 2rem;
    height: 3rem;
}